/*Universal Styles*/

body {
    background: #121212;
    color: white;
    font-family: 'Inter', sans-serif;
}

header {
    /*border: solid 2px white;*/
    display: flex;
    margin: 60px 100px;
    justify-content: center;
}

#logo {
    /*border: solid 4px green;*/
    width: 553.3333333333px;
}

#logo h1 {
    font-size: 22px;
}

#logo-em {
    font-size: 22px;
    color: crimson;
}

.banner {
    /*border: solid 4px orange;*/
    width: 553.3333333333px;
    margin-top: 80px;
    text-align: center;
}

.banner h2 {
    margin: 5px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 38px;
    font-style: normal;
    line-height: normal;
    color: crimson;
}

.banner p {
    margin: 5px;
    font-style: italic;
    font-weight: 400;
}

nav { 
    /*border: solid 4px blue;*/
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 553.3333333333px;
    text-align: end;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin: 8px 0;
    width: 100px;
    height: 20px;
    transition: color 0.3s;
}

a:hover {
    color: crimson;
}

.about-me {
    margin: 85px 100px 15px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-me-img {
    margin: 50px 50px;
    width: 395px;
    height: 395px;
}

.about-me-text {
    margin: 50px 0;
    width: 600px;
}

#me-em {
    color: crimson;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 100px;
}

.skills-text {
    text-align: center;
    
}

.all-skills {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#first-row {
    display: flex;
    justify-content: center;
}

#second-row {
    display: flex;
    justify-content: center;
    color: crimson;
}

#third-row {
    display: flex;
    justify-content: center;
}

.skills-text h3 {
    font-weight: 700;
    width: 150px;
}
.skills-img img {
    height: 500px;
    width: 500px;
}

.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 100px 200px 100px;
}

.projects-img img {
    width: 350px;
    height: 350px;
    object-fit: scale-down;
    padding-top: 80px;
}

.projects-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding-right: 100px;
}

.projects-text h2 {
    text-align: center;
    padding-left: 250px;
}

.projects-text h3 {
    text-align: end;
}

.all-projects {
    cursor: pointer;
}

.all-projects img{
    width: 16px;
    height: 16px;
}

#button-1,
#button-2,
#button-3,
#button-4 {
    display: flex;
    justify-content: end;
    align-items: center;
    transition: color 0.3s;
}

#button-1 img,
#button-2 img,
#button-3 img,
#button-4 img {
    margin: 5px;
}

#button-1:hover,
#button-2:hover,
#button-3:hover,
#button-4:hover {
    color: crimson
}

#button-1 {
    margin-left: 215px;
}
#button-2 {
    margin-left: 170px;
}
#button-3 {
    margin-left: 200px;
}
#button-4 {
    margin-left: 226px;
}

#button-1-text,
#button-2-text,
#button-3-text,
#button-4-text{
    display: none;
    margin: 0;
    text-align: end;
}

#button-1-text p,
#button-2-text p,
#button-3-text p,
#button-4-text p {
    margin: 0;
}

.contact {
    margin: 40px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
}

.contact h2 {
    margin: 0;
    color:peru;
}

.all-contacts p {
    margin: 40px;
}












